@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}
@* <partial name="_Notification" />//Move To Layout to effect all after adding toastr *@

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-6">
                <h2 class="text-primary">Product List</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Product
                </a>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.Title) </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>Category</th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ISBN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ListPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem =>item.Category.Name)
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary mx-2" asp-route-id="@item.Id">
                                    <i class="bi bi-pencil-square"></i>Edit
                                </a>
                                <a asp-controller="Product" asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">
                                    <i class="bi bi-info-square"></i>Details
                                </a>
                                <a asp-controller="Product" asp-action="Delete" class="btn btn-danger mx-2" asp-route-id="@item.Id">
                                    <i class="bi bi-trash-fill"></i>Delete
                                </a>
                            </div>


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

